<!-- Begin iFrame -->
<div class="embed-responsive embed-responsive-16by9">
	<iframe width="100%" 
	[src]="getVideoUrl(movie.youTubeId) | safepipe"
	frameborder="0" 
	allow="autoplay; encrypted-media" 
	allowfullscreen>
</iframe>
</div>
<!-- End iFrame -->

<!-- Begin Channel info -->
<section class="channel-info">
	<div class="container">
		<div class="channel-title">
			<h2><span *ngIf = "movie.title">{{movie.title}}</span></h2>
			<div class="channel-subscriber-count">{{movie.description}}<br>
				Rate movie:
				<form>
					  <input type = "text" [(ngModel)]="rating" name="rating">
					  <button (click)="rateMovie(rating)">Submit</button>
					</form></div>
		</div>
		
		<div class="channel-subscribe">
            <!-- <button class="subscribe-btn btn">watch</button> -->
		</div>
	</div>
</section>
<!-- End of channel info section -->




<!-- Other videos -->
<app-video-detail-list></app-video-detail-list>