<!-- Channel main content -->
<main class="channel-content">
    <div class="container">
        <section class="channel-videos">
            <div class="likes-playlist playlist">
                <h2 class="playlist-title">Andere LekkerKijken videos:</h2>
                <div class="playlist-videos">
                    <div class="playlist-video" tabindex="0" *ngFor="let movie of movies | async">
                        <a routerLink="/detail/{{movie.id}}" (click)="getMovie()">
                            <div class="video-thumbnail">
                                <img class="card-img" [src]="getYouTubeImg(movie.youTubeId) | safepipe" alt="Card image">
                            </div>
                            <div class="video-info">
                                <h3 class="video-title">{{movie.title}}</h3>
                                <ul class="video-meta-data">
                                    <li class="video-creator"><i *ngFor="let star of getStarArray(movie.rating)" class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>      
            </div>
        </section>  
    </div>
</main>
